@media (max-width: 1400px) {
    #app{
        padding: 32px 100px;
    }

    h1{font-size: 32px;}
    h2{font-size: 28px;}
    h3{font-size: 20px;}
    #name{font-size: 20px;}
    #work-filter li{font-size: 28px;}

    header>p{font-size: 128px;}

    header{
        height: 100vh;
    }

    #about{
        margin-top:0;
        height: 100%;
    }

    #contact>a>img{
        width: 300px;
    }

    .contact-internet>ul li{
        margin-right: 50px;
    }

    .contact-internet>ul>li>a>i{
        font-size: 50px;
    }

    .project-card>a>img{
        width: 500px;
    }

    .study-case>section>h3, .study-case>section>img, .study-case>section>video{
        width: 500px;
    }
}

@media (max-width: 1024px) {
    h1{font-size: 28px;}
    h2{font-size: 24px;}
    h3{font-size: 20px;}
    #name{font-size: 20px;}
    #work-filter li{font-size: 24px;}

    .project-card>a>img{
        width: 350px;
    }

    .study-case>section>h3, .study-case>section>img, .study-case>section>video{
        width: 350px;
    }

    .study-case>section{
        margin: 40px 0;
    }

    .cases-list>a>img{
        height: 200px;
    }
}

@media (max-width: 768px) {
    #app{
        padding: 32px 50px;
    }
    h1{font-size: 24px;}
    h2{font-size: 20px;}
    #work-filter li{font-size: 20px;}


    .project-card>a>img{
        width: 250px;
    }

    .project-card{
        margin: 40px 0;
    }

    #contact>a>img{
        width: 200px;
    }

    .contact-internet>ul li{
        margin-right: 40px;
    }

    .contact-internet>ul>li>a>i{
        font-size: 40px;
    }

    .study-case>.study-case-title{
        flex-direction: row;
        justify-content: space-between;
    }

    .study-case>.study-case-title>img, .study-case>.study-case-title>section{
        width: 48%;
    }

    .study-case>section{
        flex-direction: column;
    }

    .study-case>section>h3, .study-case>section>img, .study-case>section>video{
        width: 100%;
        margin: 10px 0;
    }

    .cases-list>a>img{
        height: 150px;
    }
}

@media (max-width: 480px) {
    #app{
        padding: 32px 20px;
    }

    header{
        height: 100vh;
    }

    .project-card{
        flex-direction: column;
    }

    .project-card-right{
        margin: 10px 0 0 0;
    }

    .project-card-right-top{
        margin-bottom: 30px;
    }

    .project-card>a>img{
        width: 100%;
    }

    .about-top, .about-bottom{
        flex-direction: column;
    }

    .about-top>h2, .about-bottom>h2{
        width: 100%;
        margin-bottom: 30px;
    }

    #contact{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .contact-internet{
        margin-top: 50px;
    }

    .study-case>.study-case-title{
        flex-direction: column;
    }

    .study-case>.study-case-title>img, .study-case>.study-case-title>section{
        width: 100%;
    }


    .mobile-view{
        display: block;
    }
    .large-view{
        display: none;
    }

    .cases-list>a>img{
        height: 70px;
    }

    footer{
        margin: 50px 0 0 0;
        font-size: 12px;
    }
}